@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color: #808080;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: var(--light-color);
  color: var(--dark-color);
}

.container {
  width: 1100px;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
